
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#FFFFFF;
    background-image: url("d8680b1c1576ecc8.svg");
}
nav{
    color:#FFFFFF;
    padding:40px;
    display:flex;
    justify-content: flex-start;
}
.lbcont{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.loginBox{
    padding:10px;
    border-radius: 10px;
    color:#FFFFFF;
    display:flex;
    flex:1;
    flex-direction: row;
    justify-content:space-around;
    width:760px;
    height:auto;
    background-color: #36393e;
}

.col-1{
    margin-left: 1px;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}

.col-1,.t1,.t2,.t3,.col-2,.qr-img,.qr-p,label,input{
    padding-top: 8px;
    padding-bottom:8px;
}

.t3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

form{
    display:flex;
    flex-direction: column;
    align-items:baseline;
}

label{
    font-weight:500;
}

input{
    width:340px;
    height:30px;
    background-color: #282b30;
    border-radius: 5px;
    border: none;
}

button{
    padding-bottom:10px;
    padding-top:10px;
    background-color:#6571f3;
    color:#FFFFFF;
    width:340px;
    border-radius: 5px;
    border: none;
}

.up{
    padding-bottom:5px;
}

.down{
    padding-bottom: 10px;
    padding-top: 10px;
}

.gry{
    color:#95979c;
}

.bld{
    font-weight: 800;
}

a{
    font-size: 13px;
    text-decoration: none;
    color:#7289da;
}

.t1{
    align-self: center;
    font-size:19px;
    font-weight:bold;
}
.ast{
    padding-bottom:20px;
    font-size:10px;
    color:#e3928a;
}
.t2{
    align-self: center;
    display:flex;
    font-size:15x;
}

.qr-log{
    text-align: center;
    align-self: center;
    padding-bottom: 8px;
    padding-top:1px;
    font-size:19px;
    font-weight:bold;
}

.qr-img{
    padding-top: 30px;
    padding-bottom:30px;
}

.qr-p{
    text-align: center;
    align-self: center;
    font-size:15px;
    width:auto;
    height:auto;
}

.col-2{
    width:30%;
    display:flex;
    flex-direction: column;
    align-items:center;
}



