*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box-1{
    background-color: #1F2937;
    padding:10px;
}

.header{
    display:flex;
    justify-content: space-evenly;
    flex:1;
}

.header-logo{
    font-size:24px;
    color:#F9FAF8;
    display:flex;
}

.header-links{
    font-size:18px;
    color:#E5E7EB;
    gap:30px;
    display:flex;
}

.hero{
    justify-content: space-evenly;
    padding-top:50px;
    padding-bottom:50px;
    display:flex;
}

.hero-secondary{
    padding-right:0.01px;
    flex-direction: column;
}

.hero-text{
    width:380px;
    font-size:48px;
    color:#F9FAF8;
    font: weight 900px;
}

.second-text{
    width:380px;
    font-size:18px;
    color:#E5E7EB;
    padding-bottom:10px;
}

.hero-image{
    display:flex;
}

.himage{
    flex-direction:column;
}

button{
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius:5px;
    border:none;
    width:80px;
    height:25px;
}

.box-2{
    padding:10px;
}

.randomheader{
    font-size:36px;
    font-weight:900px;
    color:#1F2937;
    display:flex;
    justify-content: center;
}

.randbuckets{
    padding:50px;
    display:flex;
    justify-content:center;
    color:rgb(33, 33, 33);
    gap:40px;
}

.boxes{
    width:100px;
    height:90px;
    border-radius:10px;
    border: 5px solid #3882F6;
}

.box-3{
    padding:20px;
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
}

.quot-p{
    display:flex;
    width:800px;
    font-size:36px;
    font-weight:300px;
    color:#1F2937;
    justify-content: center;
}

.quo-b{
    display:flex;
    color:#1F2937;
    font-weight: 900px;
    justify-content:flex-end;
}

.blank{
    display:flex;
    background-color: #F9FAF8;
    justify-content: center;
    padding:80px;
}

.but{
    color:#E5E7EB;
    padding-left:90px;
    background: #3882F6;
    border-radius: 10px;
    display:flex;
    justify-content: space-evenly;
}


.tton{
    width:20%;
    height:10%;
    background-color: #3882F6;
    border-radius: 10px;
    border:1px solid #E5E7EB;
    border-color: aliceblue;
    padding:10px;
}

footer{
    padding:20px;
    background-color: #1F2937;
    display:flex;
    justify-content: center;
    color:#F9FAF8;
}